* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #bababa;
}

.contentGame {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='button'] {
  background-color: #bababa;
  color: #bababa;
  border: none;
  cursor: pointer;
  margin: 0px;
  font-size: 120px;
  height: 120px;
  width: 120px;
  padding: 0;
  margin-inline: -2px;
}

#middle2 {
  border: 1px solid #000 !important;
}

#middle1,
#middle3 {
  border-top: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
}

#top2,
#bottom2 {
  border-left: 1px solid #000 !important;
  border-right: 1px solid #000 !important;
}

h1 {
  margin-bottom: 15px;
}

.p1 {
  display: flex;
}

.placar {
  font-size: 35px;
}

.plac {
  border: 2px solid #000;
  color: #fff;
  padding: 0;
}

.plac:not(.row) span {
  background-color: #000;
  padding: 2px;
}

.plac:not(.row) {
  border-bottom: 0;
}

.red {
  background-color: #f00;
}

.blue {
  background-color: #00f;
}

.plac.row {
  margin-bottom: 5px;
  color: #fff;
  background-color: #000;
  text-align: center;
}

select {
  margin: 8px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 6px;
  outline: none;
  border-radius: 4px;
}
