* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #21a652;
}

.contentGame {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='button'] {
  background-color: #21a652;
  color: #21a652;
  border: none;
  cursor: pointer;
  margin: 0px;
  font-size: 120px;
  height: 120px;
  width: 120px;
  padding: 0;
  margin-inline: -2px;
}

#middle2 {
  border: 3px solid #29623e !important;
}

#middle1,
#middle3 {
  border-top: 3px solid #29623e !important;
  border-bottom: 3px solid #29623e !important;
}

#top2,
#bottom2 {
  border-left: 3px solid #29623e !important;
  border-right: 3px solid #29623e !important;
}

h1 {
  margin-bottom: 15px;
}

.p1 {
  display: flex;
}

.placar {
  margin-top: 35px;
  font-size: 35px;
}

.plac {
  border: 2px solid #000;
  color: #fff;
  padding: 0;
}

.plac:not(.row) span {
  background-color: #000;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-inline: 4px;
}

.plac:not(.row) {
  border-bottom: 0;
}

.red {
  background-color: #911d1d;
}

.blue {
  background-color: #1b1d8f;
}

.plac.row {
  margin-bottom: 5px;
  color: #fff;
  background-color: #545454;
  text-align: center;
  border-radius: 0 0 45px 45px;
}

select {
  margin: 8px;
  margin-bottom: 38px;
  background-color: #21a652;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #000;
  font-size: 18px;
  padding: 6px;
  outline: none;
  border-radius: 4px;
  border-radius: 0;
}

select option {
  background-color: #fff;
  color: #000;
}

.row.input {
  width: 368px;
  display: flex;
  justify-content: flex-start;
}
